body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.header {
	background-color: #ccc;
	height: 15%;
	padding: 25px 0px 0px 25px;
	box-sizing: border;
}

.topB {
	height: 80%;
	width: 17%;
	background-color: #4A90E2;
}

.main {
	height: 25%;
}

p {
	padding: 40px;
	font-family: Arial;
	font-size: 22px;
}

.blue {
	background-color: #4A90E2;
	height: 14%;
}


.foam {
	background-color: #50e3c2;
	height: 14%;
}

.green {
	background-color: #B8E986;
	height: 14%;
}

.yellow {
	background-color: yellow;
	height: 15%;
}